{%- macro key_type(num_bits) -%} uint{{ (((num_bits / 8) | round(method='ceil')) * 8) | int }}_t {%- endmacro -%}

{%- macro identify_case(busnm, msg, msg_name=msg.name, indent=2) -%}
{%- if msg.frame is defined -%}
case CANlib_{{ busnm }}_{{ msg_name }}_key: {
  uint64_t bitstring;
  to_bitstring(frame->data, &bitstring);
  {{ key_type(msg.slice.length) }} {{ busnm }}_{{ msg_name }}_key = EXTRACT(bitstring, {{ msg.slice.start }}, {{ msg.slice.length }});
  switch ({{ busnm }}_{{ msg_name }}_key) {
  {%- for sub_frame in msg.frame %}
    {{ identify_case(busnm, sub_frame, msg_name + '_' + sub_frame.name, indent + 2) | indent(indent + 2) }}
  {%- endfor %}
    default:
      return CANlib_{{ busnm }}_UNKNOWN_MSG;
      break;
  }
  break;
}
{%- else -%}
case CANlib_{{ busnm }}_{{ msg_name }}_key:
  return CANlib_{{ busnm }}_{{ msg_name }};
  break;
{%- endif -%}
{%- endmacro -%}


#include "canlib_handlers_{{ computer.name }}.h"
#include "canlib_{{ computer.name }}.h"
#include "constants.h"
#include "bus.h"
#include "pack_unpack.h"
#include "evil_macros.h"
#include "drivers/inc/{{ system.architecture['name'][computer.architecture].family }}/{{ system.architecture['name'][computer.architecture].family }}.h"

#ifndef UNUSED
#define UNUSED(X) (void)X
#endif

{%- for busnm, rawnm in computer.participation['name']['can'].mapping.items() %}
extern FDCAN_HandleTypeDef hfdcan{{ rawnm[-1] }};
{%- endfor %}

FDCAN_HandleTypeDef* CANTypeDef_From_BusT(CANlib_Bus_T bus) {
  switch (bus) {
{%- for busnm, rawnm in computer.participation['name']['can'].mapping.items() %}
    case {{ busnm }}:
      return &hfdcan{{ rawnm[-1] }};
{%- endfor %}
    default:
      return nullptr;
  }
}

{%- for busnm in computer.participation['name']['can'].subscribe.keys() %}

static void CANlib_update_can_{{ busnm }}(void) {
  Frame frame;
  CANlib_ReadFrame(&frame, {{ busnm }});
  CANlib_HandleFrame_{{ busnm }}(&frame);
}
{%- endfor %}

void CANlib_update_can(void) {
{%- for busnm in computer.participation['name']['can'].subscribe.keys() %}
  CANlib_update_can_{{ busnm }}();
{%- endfor %}
}
