{%- macro key_type(num_bits) -%} uint{{ (((num_bits / 8) | round(method='ceil')) * 8) | int }}_t {%- endmacro -%}

{%- macro handle_case(busnm, msg, msg_name=msg.name, indent=2) -%}
{%- if msg.frame is defined -%}
case CANlib_{{ busnm }}_{{ msg_name }}_key: {
  uint64_t bitstring;
  to_bitstring(frame->data, &bitstring);
  {{ key_type(msg.slice.length) }} {{ busnm }}_{{ msg_name }}_key = EXTRACT(bitstring, {{ msg.slice.start }}, {{ msg.slice.length }});
  switch ({{ busnm }}_{{ msg_name }}_key) {
  {%- for sub_frame in msg.frame %}
    return {{ handle_case(busnm, sub_frame, msg_name + '_' + sub_frame.name, indent + 2) | indent(indent + 2) }}
  {%- endfor %}
    default:
      return;
  }
  break;
}
{%- else -%}
case CANlib_{{ busnm }}_{{ msg_name }}_key:
  return CANlib_FrameToPoint_{{ busnm }}_{{ msg_name }}(frame);
  break;
{%- endif -%}
{%- endmacro -%}

#include "canlib_frame_to_point_{{ computer.name }}.h"
#include "canlib_unpack_frame_to_point_{{ computer.name }}.h"
#include "constants.h"
#include "bus.h"
#include "pack_unpack.h"
#include "evil_macros.h"
#include "drivers/inc/{{ system.architecture['name'][computer.architecture].family }}/{{ system.architecture['name'][computer.architecture].family }}.h"
#include "Point.h"
using namespace influxdb;

{%- for busnm, bus in computer.participation['name']['can'].subscribe.items() %}

Point CANlib_FrameToPoint_{{ busnm }}(Frame *frame) {
  switch (frame->id) {
{%- for frame in bus %}
    {{ handle_case(busnm, frame) | indent(4) }}
{%- endfor %}
    default:
      return Point("null");
  }
}
{%- endfor %}

Point CANlib_FrameToPoint(CAN_Raw_Bus_T raw_bus, Frame* frame) {
  switch (raw_bus) {
{%- for busnm in computer.participation['name']['can'].subscribe.keys() %}
    case {{computer.participation['name']['can'].mapping[busnm] }}:
      return CANlib_FrameToPoint_{{ busnm }}(frame);
      break;
{%- endfor %}
    default:
      UNUSED(frame);
      return Point("null");
      break;
  }
}