#pragma once
#include <cstdint>

#define TOGGLE(input, test, idx)      \
  if (test) {                         \
    ((input) |= (1 << (7 - (idx))));  \
  } else {                            \
    ((input) &= ~(1 << (7 - (idx)))); \
  }

#define CHECK(a, b) (((a) & (1 << (7 - (b)))) != 0)

#define ONES(len) ((((1ULL << (len - 1)) - 1) << 1) + 1)

#define START_IDX(start, len) (64 - (start) - (len))

#define ZEROES_MASK(start, len) (~(ONES(len) << START_IDX(start, len)))

#define INPUT_MASK(input, start, len) (((input)&ONES(len)) << START_IDX(start, len))

#define INSERT(input, output, start, len) \
  (((output) & (ZEROES_MASK(start, len))) | INPUT_MASK(input, start, len))

#define SIGN(input, data_width) \
  (((int64_t)((uint64_t)(input) << (64 - (data_width)))) >> (64 - (data_width)))

#define EXTRACT(input, start, len) (((input) >> START_IDX(start, len)) & ONES(len))

#define BIT_SET(input, bit_value, bit_idx) \
  if ((bit_value)) {                       \
    ((input) |= (1UL << (bit_idx)));       \
  } else {                                 \
    ((input) &= ~(1UL << (bit_idx)));      \
  }

#define BIT_GET(input, bit_idx) (bool)((input) & (1UL << (bit_idx)))

struct DATA_T {
  uint8_t byte[8];
  uint64_t bitstring;
};

// utility functions
void data_transfer(DATA_T *in, DATA_T *out);
void to_bitstring(uint8_t in[], uint64_t *out);
void from_bitstring(uint64_t *in, uint8_t out[]);
uint8_t swap_uint8(uint8_t val);
int8_t swap_int8(int8_t val);
uint16_t swap_uint16(uint16_t val);
int16_t swap_int16(int16_t val);
uint32_t swap_uint32(uint32_t val);
int32_t swap_int32(int32_t val);
int64_t swap_int64(int64_t val);
uint64_t swap_uint64(uint64_t val);
