obj/
compile_commands.json
*.pyc

# Files that should be written from CAN spec
generator/fsae_can_spec.h
MY18_CAN_Library.c
MY18_CAN_Library.h
enum_segments.h
bms.h
can_node.h
current_sensor.h
dash.h
vcu.h
