obj/
compile_commands.json
*.pyc

# Files that should be written from CAN spec
can_validator/fsae_can_spec.h
MY17_CAN_Library.c
MY17_CAN_Library.h
ids.h
bms.h
can_node.h
current_sensor.h
dash.h
vcu.h
