#pragma once

#include "static.hpp"

#include "stm32f2xx_hal_can.h"
#include <stdint.h>

namespace CANlib {

    typedef HAL_StatusTypeDef CANlib_Transmit_Error_T;

    HAL_StatusTypeDef Init(uint32_t baudrate);
    HAL_StatusTypeDef TransmitFrame(Frame& frame);
}
