{%- macro key_defines(bus, msg, msg_name=msg.name) -%}
{%- if msg.frame is defined -%}
#define CANlib_{{ bus.name }}_{{ msg_name }}_key 0x{{ '%0X' % msg.key }}
{% for sub_frame in msg.frame -%}
{{ key_defines(bus, sub_frame, msg_name + '_' + sub_frame.name) }}
{% endfor -%}
{%- else -%}
#define CANlib_{{ bus.name }}_{{ msg_name }}_key 0x{{ '%0X' % msg.key }}
{%- endif %}
{%- endmacro -%}
#pragma once

// CAN IDs
{%- for bus in can.bus %}

// {{ bus.name }}
{%- for msg in bus.frame %}
{{ key_defines(bus, msg) }}
{%- endfor %}
{%- endfor %}

// Periods (ms)
{%- for bus in can.bus %}

// {{ bus.name }}
{%- for msg in bus.frame %}
{%- if msg.period %}
#define CANlib_{{ bus.name }}_{{ msg.name }}_period {{ get_ms(msg.period) }}
{%- endif %}
{%- endfor %}
{%- endfor %}
